utils/pcb_checker/__pycache__
utils/pcb_checker/.idea
utils/pcb_specgen/.idea
utils/low_name/.idea/
altlib/pcblibs/History/
altlib/schlibs/History/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache/
