/.obsidian/hotkeys.json
/.obsidian/workspace.json
utils/.idea
/.idea
utils/pcb_checker/__pycache__
utils/pcb_checker/.idea
utils/pcb_specgen/.idea
utils/low_name/.idea/
altlib/pcblibs/History/
altlib/schlibs/History/
